# PyCharm
/.idea/

# VirtualEnv
**/.venv/

# MyPy
**/.mypy_cache/

# PyTest
**/.pytest_cache/

# Catch
**/__pycache__

# Egg Info
**/*egg-info/

.coverage

# As this is a library
poetry.lock

/dist/
/temp/
