python.resolveDependencies=true

python.ignoreSourceFiles=false

python.installVirtualenv=true

python.resolveHierarchyTree=true

python.ignorePipInstallErrors=false

python.resolvePipEditablePackages=true

python.requirementsFileIncludes=requirements.txt

python.requirementsFileIncludes=dev.requirements.txt
