# Copyright 2023 Goldman Sachs
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Build CI

on: [push, pull_request, workflow_dispatch]

jobs:

  lint:
    name: Lint Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/workflows/actions/setup

      - name: Install Linter
        run: |
          set -x
          source .venv/bin/activate
          which pip
          pip install flake8
          pip install -e ./.github/workflows/lint/pylegend_copyright_checker
          set +x

      - name: Perform Lint Check
        run: |
          set -x
          source .venv/bin/activate
          which flake8
          flake8 ./.github/workflows/lint --count --max-line-length=127 --show-source --statistics
          flake8 ./pylegend --count --max-line-length=127 --show-source --statistics
          set +x

  typing_check:
    name: Typing Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/workflows/actions/setup

      - name: Install Type Checker
        run: |
          set -x
          source .venv/bin/activate
          which pip
          pip install mypy
          set +x

      - name: Perform Typing Check
        run: |
          set -x
          source .venv/bin/activate
          which mypy
          mypy ./.github/workflows/ --config-file=./.github/workflows/typing/config.cfg 
          mypy ./pylegend/ --config-file=./.github/workflows/typing/config.cfg
          set +x

  pytest:
    name: PyTest
    runs-on: ubuntu-latest
    needs: [lint, typing_check]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/workflows/actions/setup

      - name: Install Dependencies
        run: |
          set -x
          source .venv/bin/activate
          which pip
          pip install -r dev.requirements.txt
          set +x

      - name: Run PyTest
        run: |
          set -x
          source .venv/bin/activate
          which pytest
          pytest --cov=pylegend --junitxml=./test-results/pytest_result.xml
          set +x
          
      - name: Upload Test Results
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: ./test-results/
  
  publish_test_results:
    name: Publish Test Results
    runs-on: ubuntu-latest
    needs: [pytest]
    if: success() || failure()
    permissions:
      checks: write
      pull-requests: write

    steps:
      - name: Download Test Results
        uses: actions/download-artifact@v3
        with:
          name: test-results

      - uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          check_name: Test Results
          files: |
            ./pytest_result.xml
