# Copyright 2023 Goldman Sachs
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: License Scan

on:
  schedule:
    - cron: '0 8,18 * * 1-5'
  push:
  pull_request:
  workflow_dispatch:

env:
  PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring

jobs:
  scan:
    name: License Scanning
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/workflows/actions/setup
        with:
          python-version: 3.12

      - name: Install pip-licenses
        run: |
          source .venv/bin/activate
          which pip
          pip install git+https://github.com/ansys/pip-licenses

      - name: Scan Licenses
        run: |
          source .venv/bin/activate
          poetry install --with dev
          pip-licenses --format=markdown --order=license --allow-only="MIT License;Apache Software License;BSD License;Mozilla Public License 2.0 (MPL 2.0);MIT No Attribution License (MIT-0);Python Software Foundation License;Apache-2.0;BSD-3-Clause;BSD-3-Clause AND ISC;MIT;PSF-2.0;Apache-2.0 OR BSD-3-Clause;MIT AND Python-2.0;"
