# Copyright 2023 Goldman Sachs
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Release

on:
  release:
    types: [published]

jobs:
  validate:
    name: Validate Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/workflows/actions/setup
        with:
          python-version: 3.12

      - name: Validate
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            source .venv/Scripts/activate
          else
            source .venv/bin/activate
          fi
          echo "Poetry executable is:" $(which poetry)
          project_version=$(poetry version --short)
          release_version=${GITHUB_REF#refs/*/pylegend-}
          if [ ${project_version} == ${release_version} ]; then
            echo "Version matches"
          else
            echo "Version in pyproject.toml ${project_version} doesn't match with release tag version ${release_version}"
            exit 1
          fi

  lint:
    name: Flake8 Lint Check
    needs: [validate]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Flake8 Lint Check
        uses: ./.github/workflows/actions/flake8_lint_check

  typing_check:
    name: MyPy Type Check
    needs: [validate]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: MyPy Type Check
        uses: ./.github/workflows/actions/mypy_type_check

  pytest:
    name: PyTest
    needs: [lint, typing_check]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: PyTest
        uses: ./.github/workflows/actions/pytest
        with:
          os: ubuntu-latest
          python-version: 3.12

  release:
    name: Release
    needs: [pytest]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/workflows/actions/setup
        with:
          python-version: 3.12

      - name: Poetry Install Dependencies
        uses: ./.github/workflows/actions/poetry_install_dependencies

      - name: PyPi Publish
        shell: bash
        env:
          PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
          PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            source .venv/Scripts/activate
          else
            source .venv/bin/activate
          fi
          echo "Poetry executable is:" $(which poetry)
          poetry publish --build --username "$PYPI_USERNAME" --password "$PYPI_PASSWORD"

  docker_build_push:
    name: Build-Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Extract Tag Name
        id: extract_tag
        shell: bash
        run: |
          # Calculate the clean tag using Bash syntax
          CLEAN_TAG=${GITHUB_REF#refs/*/pylegend-}
          
          # Save it to GitHub Outputs so the next step can see it
          echo "image_tag=$CLEAN_TAG" >> $GITHUB_OUTPUT

      - name: Build-Publish Docker Image
        uses: ./.github/workflows/actions/build_publish_docker_image
        with:
          docker_username: ${{ secrets.DOCKER_USERNAME }}
          docker_password: ${{ secrets.DOCKER_PASSWORD }}
          image_tag: ${{ steps.extract_tag.outputs.image_tag }}